<div class="container mt-5 custom-font">
    <h2 class="text-center" id="title">Delete Student</h2>

    <div class="card mt-4 custom-card">
        <div class="card-header custom-header">Delete Student</div>
        <div class="card-body">
            <form id="updateStudentForm">
                <label for=""> Student ID</label>
                <input type="number" id="studDept" class="form-control">
     
                <button type="button" class="btn btn-primary custom-button" onclick="updateStudent()">Delete Student</button>
            </form>
        </div>
    </div>

   
</div>
